@import url('https://fonts.googleapis.com/css?family=Work+Sans');
*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  color: #fff;
}
form {
  width: 350px;
}
a{
  text-decoration: none;
  color: white;
  position: fixed;
  margin-top: 15vh;
}
input{
  display: block;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  line-height: 50px;
  padding: 0 25px;
}
.Submit {
  color: white;
  background: #27ae60;
  text-transform: uppercase;
  font-weight: bold;
  transition: background .25s ease;
}
.Submit:hover{
  background: #1f7744;
}
.notice {
font-size: 20px;
color: #fff;
bottom: 250px;
padding: 20px;
position: fixed;
}
